<ion-content [fullscreen]="true">
  <div id="container">
    <div class="form">
      <ion-list>
        <ion-item padding>
          <ion-label position="floating">Enter Ingredients</ion-label>
          <ion-input placeholder="e.g: eggs, tomatoes, cucumber, salt (with comma separated)"
          [(ngModel)]="ingredient_names"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="onCommitSubmit()">
        Submit
      </ion-button>
      <ion-button (click)="onCommitClear()" color="danger">
        Clear
      </ion-button>
    </div>
  </div>
</ion-content>
