<ion-content [fullscreen]="true">

  <div id="container">

    <div *ngFor="let item of ingredients_arr;" style="display:inline;">
      <ion-badge color="{{ item.color }}">
        <ion-text>{{ item.ingredient_name }}</ion-text>
      </ion-badge>
    </div>

    <div class="form">
      <ion-list fill="outline">
        <ion-item padding>
          <ion-label position="floating">Enter Ingredients</ion-label>
          <ion-input placeholder="e.g: eggs, tomatoes, cucumber, salt (with comma separated)"
          [(ngModel)]="ingredient_names"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="onCommitSubmit()">
        Submit
      </ion-button>
      <ion-button (click)="onCommitClear()" color="danger">
        Clear
      </ion-button>
    </div>

    <br>

    <div *ngFor="let recipe of recipes;">
      <ion-text>{{ recipe.title ?? "-" }}</ion-text>
    </div>

  </div>
</ion-content>
